<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225403731647-baela0p6e2jnuql86ttp69bfmhdmulkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225403731647-baela0p6e2jnuql86ttp69bfmhdmulkq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225403731647-jc41ko27d6og5emvingb293lj1bkl6a6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcUitXY69fcdHcX4O0yp9MRc1jPOUu9p0</string>
	<key>GCM_SENDER_ID</key>
	<string>225403731647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arenum.blitzapp</string>
	<key>PROJECT_ID</key>
	<string>blitz-43a25</string>
	<key>STORAGE_BUCKET</key>
	<string>blitz-43a25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225403731647:ios:a80a671e135e1ea269d00a</string>
</dict>
</plist>